.popup__close_photo {
  min-width: 32px;
  aspect-ratio: 1/1;
  background-image: url(../../../../images/Close_Icon.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  opacity: 1;
  transition: opacity 1s ease;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 8px;
  margin-right: -40px;
  
}

.popup__close_photo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .popup__close_photo {
    min-width: 20px;
    margin-right: 0;
    margin-bottom: 16px;
    background-size: 100%;
  }
}
