.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  min-height: 18px;
  max-width: 336px;
  margin: 0;
  margin-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 250px;
    text-align: center;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 33px;
  }
}
