.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 294px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 215px;
  }
}
